.Rproj.user
.Rhistory
.RData
.Ruserdata

/live_cell_imaging_cp/*.csv
/live_cell_imaging_cp/*.pdf
/live_cell_imaging_cp/figures/

/Plots
/figs/*.pdf
/output_live_imaging

*.phaf
*.phaf.gz
*.csv
*.xlsx
*.tsv
*.txt
*.dat
*.pdf
